* {
  box-sizing: border-box;
}

body {
    margin: 50px;
    padding: 0;
    font-family: sans-serif;
}

.line-height {
  line-height: 5px;
  padding-bottom: 10px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.framework {
  position:relative;
  text-align:center;
}

.wireframe {
  position:relative;
  text-align:center;
}

.demo {
  position:relative;
  text-align:center;
}

img {
  margin: 10px;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

a {
	text-decoration: none;
}

#knightlab {
  padding-top: 25px;
}

.knightlab {
	background-color: #222;
	text-align: center;
}

